    <section id="content-details" class="row clearfix">
        <article id="details-article" class="col-sm-8">
            <h1 id="article-title">Your Product <span class="font-weight-light">Product Name</span></h1>
           

            <p>Lorem ipsum dolor sit amet, in nam feugiat eleifend. Sea an possit offendit definiebas, usu cu aeque mediocritatem. Vis constituam suscipiantur ad, cum duis concludaturque no. Sea vocent consulatu at.</p>

            <p>Lorem ipsum dolor sit amet, pri id tractatos torquatos, eruditi alienum eam ad. Sint graeci mel te. Ex eius corrumpit.</p>
            <p><strong>What You Get</strong></p>
            <ul class="no-indent">
                <li>Lorem ipsum dolor sit.</li>
                <li>Lorem ipsum dolor sit amet, cum.</li>
                <li>Lorem ipsum dolor sit amet, quo ne etiam.</li>
            </ul>
        </article>
        <aside id="details-aside" class="col-sm-4">
            <a id="btn-buy" href="receipt.html" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-ok"></span>Get it!</a>
            <ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">Info</li>
              <li class="list-group-item">What You Get</li>
              <li class="list-group-item">This Is Included</li>
            </ul>
        </aside>
    </section>
<footer id="site-footer">
Made by <a href="#" target="_blank"><p>Learn Rails</p></a>
</footer>